# Data Preparation: Churn labeling and Downsampling

    1. Read the *play.log files line by line, and write only the user ID, device and date of log into a separate
    file.
    
    2. Label churn users: those who played more than three times before the cutoff day but had no acitivity after
    the cutoff.
    
    3. Down sampling is necessary. There are more than 500,000 users and 15 GB log data, which is not necessary for
    the churn prediction and which costs too much time to process. I used  a down sampling ratio of 1/10, to only
    include 1/10 users from the active and churn users for the churn prediction model.

### 1. Churn labeling

In [20]:
import glob

In [22]:
filepath = 'C:\\Users\\Sean\\Documents\\BitTiger\\Capston_music_player_python\\data\\play\\*play.log'
files = glob.glob(filepath)
# amount of files
len(files)

127

In [23]:
# take a look at one of the files
files[0]

'C:\\Users\\Sean\\Documents\\BitTiger\\Capston_music_player_python\\data\\play\\20170330_3_play.log'

In [99]:
# get an idea how many lines are in one .log file
with open(files[0],'r') as f:
    lines = f.readlines()
    log_lines = len(lines)
log_lines

4760394

In [26]:
# 04/22 is the cutoff date for labeling churns
cutoff = '20170422'

##### Save reduced play logs to two log files.

Only the first two items of each line, user id and device, and the date of the log are saved, so it's called reduced play logs.

In [30]:
# destination file names to save the reduced logs.
first_period_log = 'C:\\Users\\Sean\\Documents\\BitTiger\\Capston_music_player_python\\data\\play_till_0421.log'
second_period_log = 'C:\\Users\\Sean\\Documents\\BitTiger\\Capston_music_player_python\\data\\play_till_0512.log'

In [34]:
import time

for each_file in files:
    current_time = time.clock()

    with open(each_file, 'r') as f:
        lines = f.readlines()
        filename = f.name.split('\\')[-1]
        print('processing file: %s' % filename)
        #choose the output path
        if filename < cutoff:
            output_path = first_period_log
        else:
            output_path = second_period_log
        # write to the output file
        with open(output_path, 'a') as output:
            for line in lines:
                contents_to_keep = line.split('\t')[:2]
                contents_to_keep.append(filename)
                output.write('\t'.join(contents_to_keep)+'\n')
    print('...costs %.2f seconds' % (time.clock()-current_time))
    current_time = time.clock()

processing file: 20170330_3_play.log
...costs 10.36 seconds
processing file: 20170331_1_play.log
...costs 5.20 seconds
processing file: 20170331_2_play.log
...costs 3.71 seconds
processing file: 20170331_3_play.log
...costs 8.27 seconds
processing file: 20170401_1_play.log
...costs 5.08 seconds
processing file: 20170401_2_play.log
...costs 5.43 seconds
processing file: 20170401_3_play.log
...costs 6.07 seconds
processing file: 20170402_1_play.log
...costs 5.55 seconds
processing file: 20170402_2_play.log
...costs 4.91 seconds
processing file: 20170402_3_play.log
...costs 5.78 seconds
processing file: 20170403_1_play.log
...costs 5.41 seconds
processing file: 20170403_2_play.log
...costs 5.11 seconds
processing file: 20170404_1_play.log
...costs 4.93 seconds
processing file: 20170404_2_play.log
...costs 4.10 seconds
processing file: 20170404_3_play.log
...costs 0.65 seconds
processing file: 20170405_1_play.log
...costs 0.13 seconds
processing file: 20170405_2_play.log
...costs 3.70 seconds
processing file: 20170405_3_play.log
...costs 3.50 seconds
processing file: 20170406_1_play.log
...costs 0.12 seconds
processing file: 20170406_2_play.log
...costs 3.29 seconds
processing file: 20170406_3_play.log
...costs 3.88 seconds
processing file: 20170407_1_play.log
...costs 3.47 seconds
processing file: 20170407_2_play.log
...costs 3.50 seconds
processing file: 20170407_3_play.log
...costs 3.82 seconds
processing file: 20170408_1_play.log
...costs 3.60 seconds
processing file: 20170408_2_play.log
...costs 3.69 seconds
processing file: 20170408_3_play.log
...costs 4.09 seconds
processing file: 20170409_1_play.log
...costs 3.74 seconds
processing file: 20170409_2_play.log
...costs 3.54 seconds
processing file: 20170409_3_play.log
...costs 3.68 seconds
processing file: 20170410_1_play.log
...costs 3.11 seconds
processing file: 20170410_2_play.log
...costs 3.00 seconds
processing file: 20170410_3_play.log
...costs 2.84 seconds
processing file: 20170411_1_play.log
...costs 3.27 seconds
processing file: 20170411_2_play.log
...costs 3.53 seconds
processing file: 20170412_1_play.log
...costs 2.93 seconds
processing file: 20170412_2_play.log
...costs 3.49 seconds
processing file: 20170412_3_play.log
...costs 3.13 seconds
processing file: 20170413_1_play.log
...costs 2.80 seconds
processing file: 20170413_2_play.log
...costs 3.57 seconds
processing file: 20170413_3_play.log
...costs 2.92 seconds
processing file: 20170414_1_play.log
...costs 1.78 seconds
processing file: 20170414_2_play.log
...costs 1.60 seconds
processing file: 20170414_3_play.log
...costs 1.52 seconds
processing file: 20170415_1_play.log
...costs 3.48 seconds
processing file: 20170415_2_play.log
...costs 3.10 seconds
processing file: 20170415_3_play.log
...costs 4.25 seconds
processing file: 20170416_1_play.log
...costs 3.57 seconds
processing file: 20170416_2_play.log
...costs 2.97 seconds
processing file: 20170416_3_play.log
...costs 3.49 seconds
processing file: 20170417_1_play.log
...costs 2.83 seconds
processing file: 20170417_2_play.log
...costs 2.60 seconds
processing file: 20170418_1_play.log
...costs 2.51 seconds
processing file: 20170418_2_play.log
...costs 3.21 seconds
processing file: 20170418_3_play.log
...costs 3.40 seconds
processing file: 20170419_1_play.log
...costs 3.35 seconds
processing file: 20170419_2_play.log
...costs 3.09 seconds
processing file: 20170419_3_play.log
...costs 2.47 seconds
processing file: 20170420_1_play.log
...costs 2.88 seconds
processing file: 20170420_2_play.log
...costs 2.41 seconds
processing file: 20170420_3_play.log
...costs 3.34 seconds
processing file: 20170421_1_play.log
...costs 2.78 seconds
processing file: 20170421_2_play.log
...costs 2.99 seconds
processing file: 20170421_3_play.log
...costs 2.77 seconds
processing file: 20170422_1_play.log
...costs 3.30 seconds
processing file: 20170422_2_play.log
...costs 2.94 seconds
processing file: 20170422_3_play.log
...costs 2.89 seconds
processing file: 20170423_1_play.log
...costs 3.34 seconds
processing file: 20170423_2_play.log
...costs 1.94 seconds
processing file: 20170423_3_play.log
...costs 2.90 seconds
processing file: 20170424_1_play.log
...costs 1.66 seconds
processing file: 20170424_2_play.log
...costs 0.33 seconds
processing file: 20170424_3_play.log
...costs 2.41 seconds
processing file: 20170425_1_play.log
...costs 2.74 seconds
processing file: 20170425_2_play.log
...costs 2.56 seconds
processing file: 20170425_3_play.log
...costs 2.78 seconds
processing file: 20170426_1_play.log
...costs 2.66 seconds
processing file: 20170426_2_play.log
...costs 2.80 seconds
processing file: 20170426_3_play.log
...costs 2.41 seconds
processing file: 20170427_1_play.log
...costs 2.69 seconds
processing file: 20170427_2_play.log
...costs 2.24 seconds
processing file: 20170427_3_play.log
...costs 3.23 seconds
processing file: 20170428_1_play.log
...costs 2.37 seconds
processing file: 20170428_2_play.log
...costs 2.63 seconds
processing file: 20170428_3_play.log
...costs 2.39 seconds
processing file: 20170429_1_play.log
...costs 3.11 seconds
processing file: 20170429_2_play.log
...costs 2.92 seconds
processing file: 20170429_3_play.log
...costs 3.09 seconds
processing file: 20170430_1_play.log
...costs 2.69 seconds
processing file: 20170430_2_play.log
...costs 3.03 seconds
processing file: 20170430_3_play.log
...costs 3.09 seconds
processing file: 20170501_1_play.log
...costs 2.49 seconds
processing file: 20170501_2_play.log
...costs 3.12 seconds
processing file: 20170501_3_play.log
...costs 2.65 seconds
processing file: 20170502_1_play.log
...costs 2.28 seconds
processing file: 20170502_2_play.log
...costs 2.37 seconds
processing file: 20170502_3_play.log
...costs 2.05 seconds
processing file: 20170503_1_play.log
...costs 2.44 seconds
processing file: 20170503_2_play.log
...costs 2.35 seconds
processing file: 20170503_3_play.log
...costs 2.26 seconds
processing file: 20170504_1_play.log
...costs 2.15 seconds
processing file: 20170504_2_play.log
...costs 2.33 seconds
processing file: 20170504_3_play.log
...costs 2.13 seconds
processing file: 20170505_1_play.log
...costs 2.33 seconds
processing file: 20170505_2_play.log
...costs 2.62 seconds
processing file: 20170505_3_play.log
...costs 2.24 seconds
processing file: 20170506_1_play.log
...costs 2.09 seconds
processing file: 20170506_2_play.log
...costs 3.16 seconds
processing file: 20170506_3_play.log
...costs 2.98 seconds
processing file: 20170507_1_play.log
...costs 2.38 seconds
processing file: 20170507_2_play.log
...costs 2.95 seconds
processing file: 20170507_3_play.log
...costs 2.15 seconds
processing file: 20170508_1_play.log
...costs 2.62 seconds
processing file: 20170508_2_play.log
...costs 2.45 seconds
processing file: 20170508_3_play.log
...costs 2.21 seconds
processing file: 20170509_1_play.log
...costs 2.66 seconds
processing file: 20170509_2_play.log
...costs 2.56 seconds
processing file: 20170509_3_play.log
...costs 2.30 seconds
processing file: 20170510_1_play.log
...costs 2.53 seconds
processing file: 20170510_2_play.log
...costs 2.52 seconds
processing file: 20170510_3_play.log
...costs 1.92 seconds
processing file: 20170511_1_play.log
...costs 2.53 seconds
processing file: 20170511_2_play.log
...costs 2.61 seconds
processing file: 20170511_3_play.log
...costs 2.79 seconds
processing file: 20170512_1_play.log
...costs 2.79 seconds
processing file: 20170512_2_play.log
...costs 2.94 seconds
processing file: 20170512_3_play.log
...costs 2.53 seconds

In [52]:
import pandas as pd

schema = ['uid','device','file_name']
df_1 = pd.read_csv(first_period_log,delimiter='\t',header=None,index_col=None,names=schema, dtype = {'uid':'str'})
df_1.head()

         uid device            file_name
0  168550892     ar  20170330_3_play.log
1  168540455     ar  20170330_3_play.log
2  168551247     ar  20170330_3_play.log
3  168549788     ip  20170330_3_play.log
4  168551248     ip  20170330_3_play.log

In [100]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82001784 entries, 0 to 82001783
Data columns (total 3 columns):
uid          object
device       object
file_name    object
dtypes: object(3)
memory usage: 1.8+ GB

##### Label active users in the first period.

    Criteria: number of activities before the cutoff > 3

In [60]:
df_1.uid.value_counts()

1685126      3617414
37025504     2613945
751824       2097443
1791497      1888301
497685       1393958
1062806      1164170
736305        856422
0             568498
1749320       372206
1679121       244088
46532274      233379
28638487      200651
637650        108488
155948236      97851
32166203       74229
533817         74064
64268006       65829
168127634      35003
22730453       31866
16517426       31675
32104145       29951
924065         29727
168922214      29260
167982849      28483
27954505       24917
1710083        23176
165313253      21655
168674332      17807
168751924      17717
168334631      16474
              ...
167731479          1
168763247          1
168859231          1
168804426          1
168761136          1
169022327          1
168969919          1
168546198          1
168444376          1
168546199          1
168801780          1
168801781          1
168001689          1
167931183          1
168791070          1
168934216          1
168791075          1
168961109          1
168399126          1
169001697          1
168761130          1
168486670          1
168704857          1
168704855          1
168103059          1
168258503          1
168402656          1
168504640          1
168581116          1
168684368          1
Name: uid, Length: 564624, dtype: int64

In [101]:
# total number of active users and inactive users
active = df_1.uid.value_counts()>3
sum(active),sum(active==0)

(472632, 91992)

In [65]:
active_users = [active.index[i] for i in xrange(len(active)) if active[i]]
active_users[:5]

['1685126', '37025504', '751824', '1791497', '497685']

In [67]:
active_set_1 = set(active_users)

In [68]:
df_2 = pd.read_csv(second_period_log,delimiter='\t',header=None,index_col=None,names=schema, dtype = {'uid':'str'})
df_2.head()

         uid device            file_name
0     751824     ar  20170422_1_play.log
1  167806444     ar  20170422_1_play.log
2   28638487     ar  20170422_1_play.log
3  167854540     ar  20170422_1_play.log
4    1685126     ar  20170422_1_play.log

In [102]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56753407 entries, 0 to 56753406
Data columns (total 3 columns):
uid          object
device       object
file_name    object
dtypes: object(3)
memory usage: 1.3+ GB

In [70]:
active_2 = df_2.uid.value_counts()
active_2[:5]

1685126     3531544
37025504    2570137
751824      2221580
497685      1518085
1791497     1325354
Name: uid, dtype: int64

In [71]:
active_set_2 = set(active_2.index)
len(active_set_2)

272501

In [73]:
churn_set = active_set_1 - active_set_2
len(churn_set)

238889

In [74]:
good_set = active_set_1 & active_set_2
len(good_set)

233743

### Down Sampling

In [80]:
import random

random.seed(42)

In [81]:
good_sample = random.sample(good_set,len(good_set)/10)
len(good_sample)

23374

In [82]:
churn_sample = random.sample(churn_set,len(churn_set)/10)
len(churn_sample)

23888

In [144]:
df_churn_log = df_1.loc[df_1.uid.isin(churn_sample),:]

In [90]:
df_churn_log.shape

(1507639, 3)

In [91]:
df_good_log = df_1.loc[df_1.uid.isin(good_sample),:]

In [92]:
df_good_log.shape

(7577773, 3)

In [145]:
df_churn_log.head()

          uid device            file_name
23  168551179     ar  20170330_3_play.log
34  168551221     ar  20170330_3_play.log
45  168551397     ar  20170330_3_play.log
66  168549013     ip  20170330_3_play.log
76  168543049     ar  20170330_3_play.log

#####  play with the logs, and create features for churn prediction
    
    just a few examples

In [103]:
df_good_log.groupby(['uid','file_name']).size()

uid        file_name
100415077  20170331_1_play.log     39
           20170402_1_play.log      3
           20170403_1_play.log     13
           20170408_1_play.log     31
           20170411_1_play.log     13
           20170415_1_play.log     32
           20170417_1_play.log      7
           20170418_1_play.log     66
           20170419_1_play.log      1
           20170420_1_play.log     27
100549339  20170331_2_play.log     62
           20170401_2_play.log     19
           20170402_2_play.log     13
           20170403_2_play.log     54
           20170404_2_play.log     14
           20170405_2_play.log     23
           20170406_2_play.log     23
           20170407_2_play.log     27
           20170408_2_play.log      7
           20170409_2_play.log      9
           20170410_2_play.log      2
           20170412_2_play.log      9
           20170413_2_play.log      9
           20170414_2_play.log      2
           20170415_2_play.log     21
           20170416_2_play.log     81
           20170417_2_play.log      1
           20170418_2_play.log     22
           20170419_2_play.log     47
           20170420_2_play.log     76
                                 ...
98574751   20170401_1_play.log     50
           20170402_1_play.log     27
           20170403_1_play.log    118
           20170404_1_play.log     42
           20170407_1_play.log     68
           20170408_1_play.log     37
           20170409_1_play.log    112
           20170410_1_play.log     95
           20170411_1_play.log    151
           20170415_1_play.log      6
           20170416_1_play.log      7
           20170417_1_play.log    101
           20170418_1_play.log     76
           20170419_1_play.log     73
           20170420_1_play.log     80
           20170421_1_play.log    304
99651190   20170330_3_play.log    190
           20170331_3_play.log    129
           20170401_3_play.log      8
           20170402_3_play.log     35
           20170405_3_play.log     10
           20170406_3_play.log     10
           20170409_3_play.log     34
           20170410_3_play.log      1
           20170412_3_play.log    111
           20170415_3_play.log     24
99725077   20170330_3_play.log     12
           20170401_3_play.log     12
           20170405_3_play.log      1
           20170406_3_play.log      1
Length: 188303, dtype: int64

In [105]:
df_daily_good = df_good_log.groupby(['uid','file_name']).size().to_frame(name = 'count').reset_index()
df_daily_good.head()

         uid            file_name  count
0  100415077  20170331_1_play.log     39
1  100415077  20170402_1_play.log      3
2  100415077  20170403_1_play.log     13
3  100415077  20170408_1_play.log     31
4  100415077  20170411_1_play.log     13

In [107]:
df_device_good = df_good_log.groupby(['uid','device']).size().to_frame(name = 'count').reset_index()
df_device_good.head()

         uid device  count
0  100415077     ar    232
1  100549339     ar    534
2  101372876     ar    328
3  102311569     ar    359
4  102393511     ar    356

In [157]:
import numpy as np

df_churn_log['date'] = df_churn_log.file_name.str.split('_').apply(lambda x: x[0])
df_churn_log.head()

C:\Users\Sean\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          uid device            file_name      date
23  168551179     ar  20170330_3_play.log  20170330
34  168551221     ar  20170330_3_play.log  20170330
45  168551397     ar  20170330_3_play.log  20170330
66  168549013     ip  20170330_3_play.log  20170330
76  168543049     ar  20170330_3_play.log  20170330

In [161]:
df_churn_log.loc[:,'label'] = 1
df_churn_log.head()

C:\Users\Sean\Anaconda2\lib\site-packages\pandas\core\indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Sean\Anaconda2\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

          uid device            file_name      date  label
23  168551179     ar  20170330_3_play.log  20170330      1
34  168551221     ar  20170330_3_play.log  20170330      1
45  168551397     ar  20170330_3_play.log  20170330      1
66  168549013     ip  20170330_3_play.log  20170330      1
76  168543049     ar  20170330_3_play.log  20170330      1

In [167]:
df_good_log['date'] = df_good_log.file_name.str.split('_').apply(lambda x: x[0])
df_good_log.head()

C:\Users\Sean\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

           uid device            file_name      date
61   168534518     ar  20170330_3_play.log  20170330
80      751824     ar  20170330_3_play.log  20170330
99   168551186     ar  20170330_3_play.log  20170330
129  168548840     ip  20170330_3_play.log  20170330
135  168547123     ar  20170330_3_play.log  20170330

In [168]:
df_good_log.loc[:,'label'] = 0
df_good_log.head()

           uid device            file_name      date  label
61   168534518     ar  20170330_3_play.log  20170330      0
80      751824     ar  20170330_3_play.log  20170330      0
99   168551186     ar  20170330_3_play.log  20170330      0
129  168548840     ip  20170330_3_play.log  20170330      0
135  168547123     ar  20170330_3_play.log  20170330      0

In [169]:
df_complete = pd.concat([df_good_log,df_churn_log])
df_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9085412 entries, 61 to 82001380
Data columns (total 5 columns):
uid          object
device       object
file_name    object
date         object
label        int64
dtypes: int64(1), object(4)
memory usage: 415.9+ MB

In [170]:
df_complete.label.unique()

array([0, 1], dtype=int64)

In [171]:
df_complete.date.unique()

array(['20170330', '20170331', '20170401', '20170402', '20170403',
       '20170404', '20170405', '20170406', '20170407', '20170408',
       '20170409', '20170410', '20170411', '20170412', '20170413',
       '20170414', '20170415', '20170416', '20170417', '20170418',
       '20170419', '20170420', '20170421'], dtype=object)